<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    packages\ 是随工程内置的离线包源（Godot.NET.Sdk 生态 + PckPacker + Publicizer），
    保证无网环境也能还原。nuget.org 作为补充。
  -->
  <packageSources>
    <clear />
    <add key="local-packages" value="packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
